<%- include include/header.ejs%>
<%articles.forEach(function(article){
    %>
<div class="container">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="<%=article.user.avatar%>" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></h4>
            <div><%-article.content%></div>
        </div>
    </div>
</div>

<%
}) %>

<%- include include/footer.ejs%>


